/**
 * Import all the styles.
 */

@import "colors.less";
@import "fonts.less";

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	clear: both;
}

body {
	font-family: 'bryant alternate';
	background-color: @clouds;
	overflow: hidden;

}

h1, h2, h3 {
	font-size: 2em;
	padding: 0.7em;
	font-weight: bold;
}

table {
	width: 100%;
	border: 1px solid #aaa;
	td, th {
		border: 1px solid #aaa;
		padding: 0.3em;
	}
	th {
		font-weight: bold;
	}
}

.tableWrap {
	max-width: 500px;
	margin: auto;
}

#formContainer {
	.no-select;
	//display: none;
	position: absolute;
	font-size: 0.8em;
	top: 0;
	left: 0;
	width: 350px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid @clouds;
	z-index: 100;
	padding: 1em;
	input {
		border: 1px solid @clouds;
		background-color: rgba(255, 255, 255, 0.8);
		display: block;
		width: 75%;
		margin: 0.5em auto;
		padding: 0.5em;
	}
	button#close {
		float: right;
	}
	button {
		display: block;
		background-color: @clouds;
		border: 0;
		padding: 0.5em;
		margin: auto;
	}

}

.dragging {
	background-color: 
		rgba(0, 0, 0, 0.2) !important;
}


.MapPage {
	.no-select;
	#mapContainer {

		position: relative;

		background-color: #fff;
		max-width: 1400;
		//border: 2px solid yellow;

		#mapWrap {
			position: absolute;
			top: 0;
			width: 100%;
			//border: 2px solid red;
			z-index: 5;
			img#map {
				display: block;
				margin: auto;
				width: 100%;
				//padding-top: 5000px; // XXX -- fixme!
				//border: 2px solid blue;
			}
		}

		img#mapHeader, img#mapFooter {
			display: none; // XXX
			z-index: 4;
			width: 100%;
			//border: 2px dashed green;
		}

		img.marker {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

