// -----------
// CORE STYLES
// -----------

@import "colors.less";
@import "fonts.less";

// ------------------
// GLOBAL DEFINITIONS
// ------------------

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	clear: both;
}

html {
	font-family: 'bryant alternate';
	background-color: #fff;
}

h1, h2, h3 {
	font-size: 2em;
	font-weight: bold;
	//padding: 0.7em;
}
p {
	//padding: 0.7em;
}

a:link, a:visited {
	color: @alizarin;
}

a:active, a:hover {
	color: @orange;
}

// --------------------
// PAGE-SPECIFIC STYLES
// --------------------

@import "page-map.less";
@import "page-other.less";
