/**
 * Import all the styles.
 */

@import "colors.less";
@import "fonts.less";

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: 'bryant alternate';
	background-color: @clouds;
}

h1, h2, h3 {
	font-size: 2em;
	padding: 0.7em;
	font-weight: bold;
}

table {
	width: 100%;
	border: 1px solid #aaa;
	td, th {
		border: 1px solid #aaa;
		padding: 0.3em;
	}
	th {
		font-weight: bold;
	}
}

.tableWrap {
	max-width: 500px;
	margin: auto;
}

.MapPage {
	.no-select;
	#mapContainer {
		position: relative;
		background-color: #fff;
		max-width: 1400;
		//border: 2px solid yellow;

		#mapWrap {
			position: absolute;
			top: 0;
			width: 100%;
			//border: 2px solid red;
			z-index: 5;
			img#map {
				display: block;
				margin: auto;
				width: 100%;
				//padding-top: 5000px; // XXX -- fixme!
				//border: 2px solid blue;
			}
		}

		img#mapHeader, img#mapFooter {
			display: none; // XXX
			z-index: 4;
			width: 100%;
			//border: 2px dashed green;
		}

		img.marker {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

