.OtherPage {

	table {
		width: 100%;
		border: 1px solid #aaa;
		td, th {
			border: 1px solid #aaa;
			padding: 0.3em;
		}
		th {
			font-weight: bold;
		}
	}

	.tableWrap {
		max-width: 500px;
		margin: auto;
	}
}
