{% extends "BASE.html" %}
{% set pageName = 'LocationListPage' %}
{% set pageClass = 'OtherPage' %}
{% block title %}Locaton List{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/admin.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {
        install_admin();
    });
  </script>

{% endblock %}

{% block body %}

<div class="tableWrap">
  <h1>Location List <a href="/api/locations">(json)</a></h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Coordinate</th>
      <th>Name</th>
      <th>School</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="2">Manage</th>
  {% for loc in locations %}
  <tr id="row{{ loc.id }}">
      <td>{{ loc.id }}</td>
      <td>{{ loc.position_x }}, {{ loc.position_y }}</td>
      <td>{{ loc.name }}</td>
      <td>{{ loc.school }}</td>
      <td>{{ loc.email }}</td>
      <td>{{ loc.phone }}</td>
      <td><a href="#" class="edit" data-id="{{loc.id}}">edit</a></td>
      <td><a href="#" class="delete"
             data-id="{{loc.id}}">delete</a></td>
    </tr>
  {% endfor %}
  </table>
</div>
<br>
{% endblock body %}

