{% extends "BASE.html" %}
{% set pageName = 'MapPage' %}
{% block title %}Tour Map{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/livemap.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {
        install_livemap();
    });
  </script>
{% endblock %}


{% block header %}
  <header>
  </header>
{% endblock header %}


{% block body %}
  <h1>Live Map</h1>
  <div id="mapContainer">
   <img src="/static/img/badmap.gif" id="map">
  </div>
{% endblock body %}
