{% extends "BASE.html" %}
{% set pageName = 'MapPage' %}
{% block title %}Tour Map{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/map.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/marker.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/form.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/modality.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/main.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {
        install_livemap();
    });
  </script>
{% endblock %}

{% block body %}
  <div id="formContainer">
    <button id="close">x</button>
    <div id="grabHandle">
      <img src="/static/img/grab_button_150.png">
    </div>
    <div class="clear"></div>
    <form method="post">
      <input name="name" id="inputName" data-default="Name">
      <input name="email" id="inputEmail" data-default="email">
      <input name="school" id="inputSchool" data-default="School/District.">
      <input name="phone" id="inputPhone" data-default="Phone#">
      <button>Submit</button>
    </form>
    <div id="formThanks">
      <h1>Thanks!</h1>
      <h2>Have a great time at ISTE. We'll be in touch!</h2>
    </div>
  </div>

  <div id="mapContainer">
    <div id="mapWrap">
      <div id="mapOrange">
        <div id="mapGray">
          <img src="/static/img/blank.png" id="blank">
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
