{% extends "BASE.html" %}
{% set pageName = 'MapPage' %}
{% block title %}Tour Map{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/map.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/marker.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/form.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/modality.js{{ cache_buster() }}"></script>
  <script type="text/javascript"
    src="/static/js/main.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {
        install_livemap();
    });
  </script>
{% endblock %}


{% block header %}
  <header>
  </header>
{% endblock header %}


{% block body %}
  <div id="formContainer">
    <button id="close">x</button>
    <div id="grabHandle">GRAB_ME</div>
    <div class="clear"></div>
    <form>
      <input name="name" value="Name">
      <input name="email" value="email">
      <input name="school" value="School/Inst.">
      <input name="phone" value="Phone#">
      <button>Submit</button>
    </form>

  </div>
  <div id="mapContainer">
    <div id="mapWrap">
      <div id="mapOrange">
        <div id="mapGray">
          <img src="/static/img/blank.png" id="blank">
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
